*{
  margin: 0;
  padding: 0; }

.formulario {
  width: 400px;
  margin: 10px auto;
  padding: 10px; }
  .formulario div {
    margin: 8px 0px; }

.table {
  width: 500px;
  margin: auto; }

.mainpage {
  padding: 10px;
  display: grid;
  text-align: center;
  justify-content: center;
  list-style-type: none;
  color: #060664; }
